<div class="banner">
    <div class="header">
        <h1>{{#i18n}}project.name{{/i18n}}</h1>

        <h2>{{#i18n}}project.description{{/i18n}}</h2>
    </div>
</div>

~menu~

<div class="highlights">
    <a class="highlight-box" href="#">
        <div class="highlight-box-title">Quickstart</div>
        <div class="highlight-box-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </div>
    </a>

    <a class="highlight-box" href="#">
        <div class="highlight-box-title">Installation</div>
        <div class="highlight-box-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </div>
    </a>

    <a class="highlight-box" href="#">
        <div class="highlight-box-title">Documentation</div>
        <div class="highlight-box-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </div>
    </a>

    <a class="highlight-box" href="#">
        <div class="highlight-box-title">Examples</div>
        <div class="highlight-box-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </div>
    </a>
</div>