#ECLIPSE
**/target/*
**/.project
**/.classpath
**/.settings/*

*.asc

#MAC
**.DS_Store

#INTELLIJ
.idea
**.iml

#i18n-parsed-templates
watertemplate-example/src/main/i18n/parsed-templates/
watertemplate-example/src/main/i18n/parsed-templates/*
