body {
    color: #777;
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

#main {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}














.header {
     margin: 0;
     text-align: center;
     padding: 2.5em 2em 0;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 4em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #333;
}






























#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(96, 143, 185, 0.95);
    font-weight: lighter;
    width: 100%;
}
     #menu .water-menu,
     #menu .water-menu ul {
        padding-left: 0px;
        text-align: center;
        border: none;
        list-style-type: none;
        background: transparent;
    }

    #menu .water-menu ul li {
        display: inline;
    }

        #menu .water-menu ul li a {
            color: black;
            cursor: pointer;
            border: none;
            text-decoration: none;
            padding: 0em 0.7em 0em 0.7em;
        }

        #menu .water-menu li a:hover,
        #menu .water-menu li a:focus {
            color: rgba(0, 0, 0, 0.5);
        }

















































/* //////////////////////////////////////////////////////// */

.banner {
    background: url('/assets/grayton-beach-white-sand.png') 0 0 no-repeat fixed;
    background-size: cover;
    background-clip: 500px 0px;
    color: #222;
    padding-top: 12.5em;
    height: 15em;
    position: relative;
    min-width: 45em;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}






















.highlights {
    margin: 15px 10px 10px 10px;
    vertical-align: top;
    text-align: center;
}


.highlight-box {
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid #797874;
    border-radius: 3px;
    margin: 10px;
    display: inline-block;
    width: 17.5em;
    height: 7em;
    overflow: hidden;
}

.highlight-box:hover {
    box-shadow: #bbb 0px 0px 10px;
}

    .highlight-box .highlight-box-title {
        font-weight: lighter;
        font-size: 1.2em;
        color: rgba(0,0,0, 0.9);
        padding: 20px 10px 10px 10px;
    }

    .highlight-box .highlight-box-content {
        line-height: 1.3em;
        text-align: justify;
        color: black;
        padding: 10px 20px 10px 20px;
    }






















.info {
    color: #666;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    max-width: 360px;
    padding: 10px;
    margin: 5px 10px 5px 10px;
}

    .info .title {
        text-align: left;
        font-size: 2em;
    }

    .info p {
        font-size: 1.05em;
        line-height: 1.4em;
        text-align: justify;
    }