body {
    color: #555;
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

#main {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}














.header {
     margin: 0;
     text-align: center;
     padding: 2.5em 2em 0;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 4em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #333;
}






























#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(104, 155, 202, 0.95);
    font-weight: lighter;
    width: 100%;
}
     #menu .water-menu,
     #menu .water-menu ul {
        text-align: center;
    }

    #menu .water-menu ul li {
        display: inline;
    }

        #menu .water-menu ul li a {
            color: black;
            cursor: pointer;
            border: none;
            text-decoration: none;
            padding: 0em 0.7em 0em 0.7em;
        }

        #menu .water-menu li a:hover {
            color: rgba(0, 0, 0, 0.5);
        }

















































/* //////////////////////////////////////////////////////// */

.banner {
    background: url('/assets/grayton-beach-white-sand.png') 0 0 no-repeat fixed;
    background-size: cover;
    background-clip: 500px 0px;
    color: #222;
    padding-top: 12.5em;
    height: 15em;
    position: relative;
    min-width: 45em;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}






















.highlights {
    margin: 15px 10px 10px 10px;
    vertical-align: top;
    text-align: center;
}


.highlight-box {
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid #797874;
    border-radius: 3px;
    margin: 10px;
    display: inline-block;
    width: 17.5em;
    height: 7em;
    overflow: hidden;
}

.highlight-box:hover {
    box-shadow: #bbb 0px 0px 10px;
}

    .highlight-box .highlight-box-title {
        font-weight: lighter;
        font-size: 1.2em;
        color: rgba(0,0,0, 0.9);
        padding: 20px 10px 10px 10px;
    }

    .highlight-box .highlight-box-content {
        line-height: 1.3em;
        text-align: justify;
        color: black;
        padding: 10px 20px 10px 20px;
    }






















.info {
    color: #666;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    max-width: 360px;
    padding: 10px;
    margin: 5px 10px 5px 10px;
}

    .info .title {
        text-align: left;
        font-size: 2em;
    }

    .info p {
        font-size: 1.05em;
        line-height: 1.4em;
        text-align: justify;
    }







    #tutorial-main {
        background: url('/assets/grayton-beach-white-sand.png') 0 0 no-repeat fixed;
        background-size: cover;
    }













    /* quick-start */

    .table-of-contents {
        background-color: #eee;
        min-height: 100%;
        position: fixed;
        padding-top: 50px;
        width: 15em;
        color: #222;
        top: 0;
        left; 0;
    }

    .table-of-contents ol {
        padding-right: 20px;
    }

    .table-of-contents li {
        font-size: 0.9em;
        line-height: 1.7em;
    }

    .table-of-contents a {
            color: #222;
            text-decoration: none;
        }

    .table-of-contents a:hover {
        text-decoration: underline;
    }

    .table-of-contents-title {
        margin: 30px 0px 5px 0px;
        text-align: center;
        font-size: 1.5em;
    }







    .steps-wrapper {
        margin: 40px 0px 20px 15em;
        padding: 40px;
        background-color: rgba(255, 255, 255, 0.95);
    }

    .steps {
        font-weight: lighter;
        padding-left: 2em;
        font-size: 2em;
    }

    .steps li {
        margin: 5px 5px 40px 5px;
    }

    .step-content {
        margin: 20px 0;
        font-size: 0.5em;
    }















    .water-syntax {
        color: #e0c46c;
    }





/* examples */



.examples-list {
    padding: 10px;
    list-style-type: circle;
    line-height: 1.5em;
}

.examples-list li {
    margin: 5px;
}