<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>~title~</title>
</head>
<body>

    <h1>∆</h1>

    ~if mustDisplayMenu:
        <ul id="menu">
            ~for item in items:
                <li>
                    <a href="~item.url~"> ~item.label~ </a>
                </li>
            ~else~
                <li>
                    <span>No items in this menu.</span>
                </li>
            ~
        </ul>
    ~else~
        <span>Menu unavailable.</span>
    ~
</body>
</html>
